

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.route-container{
  border: 0px solid #cf1000;
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 7px rgba(0,0,0,0.3); 
  background: #fff;
  
}

.route-header{
  //background: #cf2000;
  color: #337ab7;
  font-size: 21px;
  font-weight: bold;
  padding: 5px;
  padding-left: 20px;
  margin: 0px;
  border-bottom: 1px solid #E9E9E9;
}

.comment-container{
  border: 1px solid #c5c5c5;
  margin: 15px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 8px;
  padding-left:15px;
  color: #505051;
  font-size: 16px;
}

.route-info{
  padding: 15px;
  padding-left: 20px;
  color: #676767;
  font-size: 15px;
  
}

.comments{
  color: #3b434c;
  font-size: 19px;
  padding-left: 30px;
}

body{
 font-family: 'Comfortaa', cursive;
}

/*a {
  color: #cf2000;
}
a:active,
a:hover {
  color: #a81000;
  outline: 0;
}*/

.grade{
  font-size: 26px;
  font-weight: bold;
}

.grey {
  color: #666;
  float: right;
  margin-right: 10px;
  font-size: 15px;
}

.grey:active,
.grey:hover {
  color: #333;
  outline: 0;
}

.remark-container{
  color: #666;
  text-align: center;
}

body{
  background: #F5F5F5;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
  background: #F5F5F5;
}

.rating-table{
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.period-header{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 18px;
	color: #676767;
	text-align: center;
}

.jumdotron-text-black{
  padding-top: 53px;
  color: rgb(16, 11, 7);
}

.jumdotron-text-yellow{
  padding-right: 15px;
  color: #eb9c4f;
  text-align: right;
}

.table{
  margin-bottom: 0px;
}

.route-info-info{
  margin-left: -15px;
  margin-top: 15px;
  color: #676767;
}

.route-container-gray{
  background: #F4F4F4;
}

.route-header-gray{
	border-color: #d8d8d8;
	color: #5C5C5C;
}

.profile-picture{
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
}
