{% extends "athlete.html" %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="{% url "athlete_profile" username=athlete.athlete.username%}">Профиль</a></li>
    <li role="presentation" ><a href="{% url "athlete_routes" username=athlete.athlete.username %}">Трассы TOP</a></li>
    {% if user == athlete.athlete %}
      <a href="{% url "profile_edit" username=user.username %}"><button style="float:right" type="button" class="btn btn-primary">Редактировать</button></a>
    {% endif %}
</ul>


<br>
<ul class="list-group">
  <li class="list-group-item"><b>Фамилия:</b> {{ athlete.last_name }}</li>
  <li class="list-group-item"><b>Имя:</b> {{ athlete.first_name }}</li>
  <li class="list-group-item"><b>Позиция в рейтинге:</b> <big>{{ athlete.position }}</big> (<i>{{athlete.score|floatformat}} баллов</i>) </li>
</ul>


{% endblock %}
