{% load rating_extras %}
  <div class="container route-container">
    <div class="container-fluid route-header">
      <div class="row">
        <div class="col-md-11" ><a href="{% url "route_info" route.id%}">{{ route.name }}</a></div>
        <div class="col-md-1"><!--space for add_route sign--></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="route-info">
          <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
            {% if route.description%}
              <p>{{ route.description|linebreaksbr }}</p>
            {% endif %}
            {% if route.author %}
              <p><b>Постановщик:</b>
                {{ route.author }}
                ({{ route.created|date:"SHORT_DATE_FORMAT" }})
               </p>

            {% else %}
              {{ route.created|date:"SHORT_DATE_FORMAT" }}
            {% endif %}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3"><span class="grade">{{ route.grade }}</span></div>
          </div>
        </div>

      </div>
      <div class="col-lg-7 col-md-7 container-fluid comments">
        <h4>Последние пролазы:</h4>
        <div class="container-fluid comment-container">
            {% for c in comments|route_comments:route %}
              <!--{% if c.route == route %}-->
                <p><big><a href="{% url "athlete_routes" username=c.athlete.username %}">
                  {% if c.athlete.last_name%}
                    {{ c.athlete.last_name }} {{ c.athlete.first_name }}
                  {% else %}
                    {{ c.athlete.username }}
                  {% endif %}
                  </a>
                  <span class="label label-default">{{ c.remark.remark }}</span></big>
                  {% if c.comment %}
                    : {{ c.comment|linebreaksbr }}
                  {% endif %}
                </p>

              <!--{% endif %}-->
            {% empty %}
              <p class="text-muted">Пока нет. Можешь стать первым ;)</p>
            {% endfor%}

        </div>
      </div>
    </div>
  </div>
