{% extends "base.html" %}

{% block title %}
  Трассы сезона
{% endblock %}


{% block heading %}
<div class="row">
<div class="col-md-10">
  <h2>Трассы сезона</h2>
</div>
<div class="col-md-2">
  <a href="{% url "new_route" %}"><button style="margin-top: 20px; margin-bottom: 20px" type="button" class="btn btn-link">+ добавить трассу</button></a>
</div>
</div>
{% endblock %}


{% block content %}

<ul class="list-unstyled">

  {% for route in routes %}
    <li class="">{% include "rating/route_list_route.html" %}</li>
  {% empty %}
    <li>Трасс пока нет :C </li>
  {% endfor %}
</ul>

{% endblock %}
